@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 5 + DDD + EF + AutoMapper + IoC </h1>
    <p class="lead">Criação de uma arquitetura padrão DDD utilizando ASP.NET MVC 5.2, Entity Framework, AutoMapper, IoC com Ninject.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

